<a href="https://colab.research.google.com/github/WideSu/Python-for-DS/blob/main/Optuna_HyperParam_Tuning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TO-DO
- [x] Test the average time usage and RMSE for each epoch using scikit-learn random search
- [ ] Test TPE hyper param tuning for HyperOpt, Ray, Optuna
- [ ] Plot the RMSE through timeline
- [ ] Use the different sampler in Optuna: Random,TPE,CMA-ES,NSGA-II

The outcome:
- A chart consisting the average RMSE and excuation time for all hyper parameter tunning methods

|HPO Package                                  |Avg RMSE                        |Avg Time Ellipsed                                            |
|---------------------------------------------|--------------------------------|-------------------------------------------------------------|
|Scikit-learn                                 |                                |                                                             |
|HyperOpt                                     |                                |                                                             |
|Ray                                          |                                |                                                             |
|Optuna                                       |                                |                                                             |

In [ ]:
# @title Mont on Google Drive
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/HPO/

Mounted at /content/drive
/content/drive/MyDrive/HPO

In [ ]:
# @title Install and import packages
! pip install dateutil
! pip install lightgbm
! pip install optuna
import pandas as pd
import dateutil
import datetime
import optuna
from tqdm import tqdm, trange
from lightgbm import LGBMRegressor
import sklearn
import math
import time

In [ ]:
# @title Read-in data and check data type and volume
df = pd.read_csv('./exp_data.csv')
df.info()

In [ ]:
# @title Change into datatime type
df[["date"]] = df[["date"]].apply(pd.to_datetime)

In [33]:
# @title Configuration for experiements
library_evaluation_df = {
    'Library' : [],
    'Train Start Date': [],
    'Train End Date': [],
    'Test Start Date': [],
    'Test End Date': [],
    'Smallest RMSE': [],
    'Time Ellipsed': []
}

n_trials = 15 # @param run 15 times of hyper-param tuning

train_timespan_months = 180 # 5 years
whole_period_months = 60
test_timespan_months = 1

first_end_time = datetime.datetime(2015, 12, 1)
feat_cols = ['absacc', 'acc', 'age', 'agr', 'baspread','bm', 'bm_ia',
             'cash', 'cashdebt', 'cashpr', 'cfp', 'cfp_ia', 'chatoia', 'chcsho', 'chempia', 'chinv', 'chmom',
             'chpmia', 'chtx', 'cinvest', 'convind', 'currat', 'depr', 'divi', 'divo', 'dolvol', 'dy', 
             'egr', 'ep', 'gma', 'grcapx', 'grltnoa', 'herf', 'hire', 'ill', 'indmom', 'invest', 'lev', 'lgr',
             'maxret', 'mom12m', 'mom1m', 'mom36m', 'mom6m', 'ms', 'mve_ia', 'mvel1', 'nincr', 'operprof',
             'orgcap', 'pchcapx_ia', 'pchcurrat', 'pchdepr', 'pchgm_pchsale', 'pchquick', 'pchsale_pchinvt',
             'pchsale_pchrect', 'pchsale_pchxsga', 'pchsaleinv', 'pctacc', 'ps', 'quick', 'rd', 'rd_mve',
             'rd_sale', 'realestate', 'retvol', 'roaq', 'roavol', 'roeq', 'roic', 'rsup', 'salecash', 'pricedelay',
             'saleinv', 'salerec', 'secured', 'securedind', 'sgr', 'sin', 'sp', 'std_dolvol', 'std_turn',
             'stdacc', 'stdcf', 'tang', 'tb', 'turn', 'zerotrade','aeavol','ear','beta','betasq','idiovol']
y_col = 'ret'
train_end_date = first_end_time
time_usage = []
score_list = []
timeline = []

# Evaluation details for each train and test timespan
evaluate_detail_df = {
    'Train Start Date': [],
    'Train End Date': [],
    'Test Start Date': [],
    'Test End Date': [],
    'Smallest RMSE': [],
    'Time Ellipsed': []
}

In [ ]:
# @title Back-test for 5 years
predict_times = 60
for period_time in trange(predict_times):
    train_start_date = train_end_date - dateutil.relativedelta.relativedelta(months=train_timespan_months)
    test_end_date = train_end_date + dateutil.relativedelta.relativedelta(months=test_timespan_months)
    print(train_start_date, train_end_date, test_end_date)
    train_data = df.query(f'"{train_start_date}" < date <= "{train_end_date}"')
    test_data = df.query(f'"{train_end_date}" < date <= "{test_end_date}"')
    X_train = train_data[feat_cols].values
    y_train = train_data[y_col].values
    X_test = test_data[feat_cols].values
    y_test = test_data[y_col].values.ravel()
    study = optuna.create_study(sampler=optuna.samplers.TPESampler())  # Create a new study.
    def objective(trial):
        param = {
        'n_estimators': trial.suggest_int('n_estimators', 50, 500),   
        'num_leaves': trial.suggest_int('num_leaves', 10, 512),
        'min_data_in_leaf': trial.suggest_int('min_data_in_leaf', 10, 80),
        'bagging_fraction': trial.suggest_float('bagging_fraction', 0.0, 1.0), # subsample
        'learning_rate': trial.suggest_float('learning_rate', 0.01, 0.1),  # eta
        'lambda_l1': trial.suggest_float('lambda_l1', 0.01, 1),  # reg_alpha
        'lambda_l2': trial.suggest_float('lambda_l2', 0.01, 1), # reg_lambda
        }
        model = LGBMRegressor(seed=42, **param)
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        mse = sklearn.metrics.mean_squared_error(y_test, y_pred)
        rmse = math.sqrt(mse)
        return rmse  # An objective value linked with the Trial object.
    ts = time.time()
    study.optimize(objective, n_trials=n_trials)  # Invoke optimization of the objective function.
    te = time.time()
    exc_time = te-ts
    evaluate_detail_df['Smallest RMSE'].append(study.best_value)
    evaluate_detail_df['Time Ellipsed'].append(exc_time)
    evaluate_detail_df['Train Start Date'].append(train_start_date)
    evaluate_detail_df['Train End Date'].append(train_end_date)
    evaluate_detail_df['Test Start Date'].append(train_end_date+dateutil.relativedelta.relativedelta(months=1))
    evaluate_detail_df['Test End Date'].append(test_end_date)
    train_end_date += dateutil.relativedelta.relativedelta(months=1)
evaluate_detail_df = pd.DataFrame(evaluate_detail_df)

  0%|          | 0/60 [00:00<?, ?it/s][I 2022-06-04 16:23:49,530] A new study created in memory with name: no-name-47b7917e-a214-4267-ae2f-66285e1af2bc

2000-12-01 00:00:00 2015-12-01 00:00:00 2016-01-01 00:00:00

[I 2022-06-04 16:26:08,761] Trial 0 finished with value: 0.12037687799397948 and parameters: {'n_estimators': 431, 'num_leaves': 380, 'min_data_in_leaf': 13, 'bagging_fraction': 0.3971713714284262, 'learning_rate': 0.0297719385483907, 'lambda_l1': 0.9628524889742507, 'lambda_l2': 0.5235873996311545}. Best is trial 0 with value: 0.12037687799397948.
[I 2022-06-04 16:26:31,124] Trial 1 finished with value: 0.12159003757681075 and parameters: {'n_estimators': 134, 'num_leaves': 254, 'min_data_in_leaf': 63, 'bagging_fraction': 0.5980345297103657, 'learning_rate': 0.09914952276191323, 'lambda_l1': 0.04382860487817646, 'lambda_l2': 0.975580472401162}. Best is trial 0 with value: 0.12037687799397948.
[I 2022-06-04 16:26:40,466] Trial 2 finished with value: 0.12206114314502159 and parameters: {'n_estimators': 104, 'num_leaves': 105, 'min_data_in_leaf': 32, 'bagging_fraction': 0.5617474975581032, 'learning_rate': 0.05708423539613854, 'lambda_l1': 0.5872395362344525, 'lambda_l2': 0.42720384397899835}. Best is trial 0 with value: 0.12037687799397948.
[I 2022-06-04 16:27:10,473] Trial 3 finished with value: 0.11988578838189205 and parameters: {'n_estimators': 150, 'num_leaves': 385, 'min_data_in_leaf': 75, 'bagging_fraction': 0.7028992633705635, 'learning_rate': 0.05806932816750925, 'lambda_l1': 0.6050662840183418, 'lambda_l2': 0.39491889886124737}. Best is trial 3 with value: 0.11988578838189205.
[I 2022-06-04 16:27:48,226] Trial 4 finished with value: 0.12249642684770927 and parameters: {'n_estimators': 491, 'num_leaves': 86, 'min_data_in_leaf': 18, 'bagging_fraction': 0.8163314670151833, 'learning_rate': 0.059477727149176006, 'lambda_l1': 0.7509258180565903, 'lambda_l2': 0.02899741908029571}. Best is trial 3 with value: 0.11988578838189205.
[I 2022-06-04 16:28:22,551] Trial 5 finished with value: 0.11972935291853963 and parameters: {'n_estimators': 116, 'num_leaves': 327, 'min_data_in_leaf': 70, 'bagging_fraction': 0.8917515172289975, 'learning_rate': 0.07840570558539181, 'lambda_l1': 0.7022924510098856, 'lambda_l2': 0.20139242833407672}. Best is trial 5 with value: 0.11972935291853963.
[I 2022-06-04 16:28:43,097] Trial 6 finished with value: 0.12187160058175796 and parameters: {'n_estimators': 90, 'num_leaves': 257, 'min_data_in_leaf': 35, 'bagging_fraction': 0.5998866736503501, 'learning_rate': 0.09992020251826568, 'lambda_l1': 0.8197308196872443, 'lambda_l2': 0.5116657356784736}. Best is trial 5 with value: 0.11972935291853963.
[I 2022-06-04 16:30:27,988] Trial 7 finished with value: 0.11888041482879477 and parameters: {'n_estimators': 339, 'num_leaves': 411, 'min_data_in_leaf': 36, 'bagging_fraction': 0.09195119830576037, 'learning_rate': 0.05831538049845289, 'lambda_l1': 0.9347390495961839, 'lambda_l2': 0.8779239961904092}. Best is trial 7 with value: 0.11888041482879477.
[I 2022-06-04 16:30:38,880] Trial 8 finished with value: 0.12112679707490213 and parameters: {'n_estimators': 355, 'num_leaves': 23, 'min_data_in_leaf': 59, 'bagging_fraction': 0.7661390805248222, 'learning_rate': 0.036708781061829295, 'lambda_l1': 0.610304777052544, 'lambda_l2': 0.650371908481242}. Best is trial 7 with value: 0.11888041482879477.
[I 2022-06-04 16:31:05,632] Trial 9 finished with value: 0.12201658740561694 and parameters: {'n_estimators': 463, 'num_leaves': 70, 'min_data_in_leaf': 24, 'bagging_fraction': 0.06854502187226374, 'learning_rate': 0.06520230929158954, 'lambda_l1': 0.11386181897690377, 'lambda_l2': 0.7474882469243428}. Best is trial 7 with value: 0.11888041482879477.

In [ ]:
evaluate_detail_df

In [ ]:
library_evaluation_df['Library'].extend(['Optuna' for _ in range(len(evaluate_detail_df))])
library_evaluation_df['Train Start Date'].extend(evaluate_detail_df['Train Start Date'])
library_evaluation_df['Train End Date'].extend(evaluate_detail_df['Train End Date'])
library_evaluation_df['Test Start Date'].extend(evaluate_detail_df['Test Start Date'])
library_evaluation_df['Test End Date'].extend(evaluate_detail_df['Test End Date'])
library_evaluation_df['Smallest RMSE'].extend(evaluate_detail_df['Smallest RMSE'])
library_evaluation_df['Time Ellipsed'].extend(evaluate_detail_df['Time Ellipsed'])

In [ ]:
pd.DataFrame(library_evaluation_df)

,Library,Train Start Date,Train End Date,Test Start Date,Test End Date,Smallest RMSE,Time Ellipsed
0,Optuna,2000-12-01,2015-12-01,2016-01-01,2016-01-01,0.120144,58.760128
1,Optuna,2001-01-01,2016-01-01,2016-02-01,2016-02-01,0.080194,92.129778
2,Optuna,2001-02-01,2016-02-01,2016-03-01,2016-03-01,0.103784,71.986675
3,Optuna,2001-03-01,2016-03-01,2016-04-01,2016-04-01,0.074915,27.287619
4,Optuna,2001-04-01,2016-04-01,2016-05-01,2016-05-01,0.058224,17.130490
5,Optuna,2001-05-01,2016-05-01,2016-06-01,2016-06-01,0.067073,10.279614
6,Optuna,2001-06-01,2016-06-01,2016-07-01,2016-07-01,0.068623,66.076798
7,Optuna,2001-07-01,2016-07-01,2016-08-01,2016-08-01,0.066195,18.987839
8,Optuna,2001-08-01,2016-08-01,2016-09-01,2016-09-01,0.053899,13.782289
9,Optuna,2001-09-01,2016-09-01,2016-10-01,2016-10-01,0.077368,8.687830
10,Optuna,2001-10-01,2016-10-01,2016-11-01,2016-11-01,0.089781,40.818178
11,Optuna,2001-11-01,2016-11-01,2016-12-01,2016-12-01,0.053357,63.689761
12,Optuna,2001-12-01,2016-12-01,2017-01-01,2017-01-01,0.067869,64.932197
13,Optuna,2002-01-01,2017-01-01,2017-02-01,2017-02-01,0.058408,33.019640
14,Optuna,2002-02-01,2017-02-01,2017-03-01,2017-03-01,0.043668,16.685446
15,Optuna,2002-03-01,2017-03-01,2017-04-01,2017-04-01,0.050683,12.632453
16,Optuna,2002-04-01,2017-04-01,2017-05-01,2017-05-01,0.064484,71.092640
17,Optuna,2002-05-01,2017-05-01,2017-06-01,2017-06-01,0.054390,16.716421
18,Optuna,2002-06-01,2017-06-01,2017-07-01,2017-07-01,0.054138,94.918361
19,Optuna,2002-07-01,2017-07-01,2017-08-01,2017-08-01,0.062517,25.170556
20,Optuna,2002-08-01,2017-08-01,2017-09-01,2017-09-01,0.065843,7.905548
21,Optuna,2002-09-01,2017-09-01,2017-10-01,2017-10-01,0.064934,28.004291
22,Optuna,2002-10-01,2017-10-01,2017-11-01,2017-11-01,0.068561,29.979045
23,Optuna,2002-11-01,2017-11-01,2017-12-01,2017-12-01,0.053107,43.466761
24,Optuna,2002-12-01,2017-12-01,2018-01-01,2018-01-01,0.073871,10.358746
25,Optuna,2003-01-01,2018-01-01,2018-02-01,2018-02-01,0.084162,9.404197
26,Optuna,2003-02-01,2018-02-01,2018-03-01,2018-03-01,0.067878,103.083572
27,Optuna,2003-03-01,2018-03-01,2018-04-01,2018-04-01,0.071045,31.156189
28,Optuna,2003-04-01,2018-04-01,2018-05-01,2018-05-01,0.066618,85.245435
29,Optuna,2003-05-01,2018-05-01,2018-06-01,2018-06-01,0.060160,43.685771
30,Optuna,2003-06-01,2018-06-01,2018-07-01,2018-07-01,0.070266,33.344960
31,Optuna,2003-07-01,2018-07-01,2018-08-01,2018-08-01,0.066894,21.125437
32,Optuna,2003-08-01,2018-08-01,2018-09-01,2018-09-01,0.054454,22.426955
33,Optuna,2003-09-01,2018-09-01,2018-10-01,2018-10-01,0.143625,45.563411
34,Optuna,2003-10-01,2018-10-01,2018-11-01,2018-11-01,0.080749,111.758999
35,Optuna,2003-11-01,2018-11-01,2018-12-01,2018-12-01,0.126986,29.940426
36,Optuna,2003-12-01,2018-12-01,2019-01-01,2019-01-01,0.113411,50.844820
37,Optuna,2004-01-01,2019-01-01,2019-02-01,2019-02-01,0.069474,8.215556
38,Optuna,2004-02-01,2019-02-01,2019-03-01,2019-03-01,0.059955,27.492262
39,Optuna,2004-03-01,2019-03-01,2019-04-01,2019-04-01,0.074243,21.051643
40,Optuna,2004-04-01,2019-04-01,2019-05-01,2019-05-01,0.115162,75.456764
41,Optuna,2004-05-01,2019-05-01,2019-06-01,2019-06-01,0.084063,10.498207
42,Optuna,2004-06-01,2019-06-01,2019-07-01,2019-07-01,0.066887,19.851884
43,Optuna,2004-07-01,2019-07-01,2019-08-01,2019-08-01,0.094328,31.821068
44,Optuna,2004-08-01,2019-08-01,2019-09-01,2019-09-01,0.059026,51.116284
45,Optuna,2004-09-01,2019-09-01,2019-10-01,2019-10-01,0.076157,43.291762
46,Optuna,2004-10-01,2019-10-01,2019-11-01,2019-11-01,0.066753,37.594407
47,Optuna,2004-11-01,2019-11-01,2019-12-01,2019-12-01,0.060457,69.785574
48,Optuna,2004-12-01,2019-12-01,2020-01-01,2020-01-01,0.083512,41.942689
49,Optuna,2005-01-01,2020-01-01,2020-02-01,2020-02-01,0.134316,9.540117
50,Optuna,2005-02-01,2020-02-01,2020-03-01,2020-03-01,0.485312,68.453220
51,Optuna,2005-03-01,2020-03-01,2020-04-01,2020-04-01,0.286272,32.076711
52,Optuna,2005-04-01,2020-04-01,2020-05-01,2020-05-01,0.107686,36.717844
53,Optuna,2005-05-01,2020-05-01,2020-06-01,2020-06-01,0.076751,63.149123
54,Optuna,2005-06-01,2020-06-01,2020-07-01,2020-07-01,0.100760,70.362987
55,Optuna,2005-07-01,2020-07-01,2020-08-01,2020-08-01,0.086366,34.242499
56,Optuna,2005-08-01,2020-08-01,2020-09-01,2020-09-01,0.083662,38.193873
57,Optuna,2005-09-01,2020-09-01,2020-10-01,2020-10-01,0.084735,100.417164
58,Optuna,2005-10-01,2020-10-01,2020-11-01,2020-11-01,0.168240,21.028036
59,Optuna,2005-11-01,2020-11-01,2020-12-01,2020-12-01,0.061049,51.150133